<h1>Questions route</h1>
<div class="container">
  <div class="lead well">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="<%= @question.gravatar %>" alt="..." width="80" height="80">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <%= @question.email %>
        </h4>
        <%= @question.body %>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div>
      <button type='button' class="btn btn-success btn-sm" data-toggle="modal" data-target="#answerModal" data-whatever="@mdo">Submit new answer</button>
    </div>
    <%= render 'home/answer_form' %>
    <% @answer.each do |answer| %>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="<%= answer.gravatar %>" alt="..." width="80" height="80">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= answer.email %> answered</h4>
        <%= time_ago_in_words answer.created_at %> ago
        <br>
        <%= answer.body %>
      </div>
    </div>
    <% end %>
    <% if @answer.empty? %>
    <div class="alert alert-info">No answer posted for this question</div>
    <% end %>
  </div>
</div>
</div>
